@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "./tokens.css";
@import "./themes.css";

@custom-variant dark (&:is(.dark *));

.input-default {
@apply h-9;
}
.input-lg {
	@apply h-10;
}
.input-sm {
	@apply h-8;
}
.input-size-lg {
	@apply size-10;
}

[data-slot="button"].h-10:not(.px-6),
button[data-slot="button"].h-10:not(.px-6),
[data-slot="dropdown-menu-trigger"].h-10:not(.px-6),
[data-slot="dialog-trigger"].h-10:not(.px-6),
[data-slot="dialog-close"].h-10:not(.px-6),
[data-slot="popover-trigger"].h-10:not(.px-6),
a[data-slot="button"].h-10:not(.px-6) {
	@apply px-4;
}

[data-slot="button"].h-9:not(.px-6),
button[data-slot="button"].h-9:not(.px-6),
[data-slot="dropdown-menu-trigger"].h-9:not(.px-6),
[data-slot="dialog-trigger"].h-9:not(.px-6),
[data-slot="dialog-close"].h-9:not(.px-6),
[data-slot="dropdown-menu-trigger"].h-9:not(.px-6),
[data-slot="popover-trigger"].h-9:not(.px-6),
a[data-slot="button"].h-9:not(.px-6) {
	@apply px-3;
}

/* For native button elements and elements with role="button", e.g., button, checkbox, radio, switch etc. */
button:not(:disabled),
[role="checkbox"]:not(:disabled),
[role="radio"]:not(:disabled),
[role="switch"]:not(:disabled),
[role="button"]:not(:disabled) {
	cursor: pointer;
}

/* For labels associated with form controls */
label[for],
label:has([role="checkbox"]):not(:disabled),
label:has([role="radio"]):not(:disabled),
label:has([role="switch"]):not(:disabled) {
	cursor: pointer;
}

/* For slider component */
[role="slider"]:not([data-disabled]),
[data-slot="slider-track"]:not([data-disabled]),
[data-slot="slider-thumb"]:not([data-disabled]) {
	cursor: pointer;
}

/* For components with menuitems, e.g., dropdown, context menu, etc. */
[role="menuitem"]:not(:disabled),
[role="menuitemcheckbox"]:not(:disabled),
[role="menuitemradio"]:not(:disabled) {
	cursor: pointer !important;
}

/* For components with options, e.g., combobox, command, select etc. */
[role="option"]:not(:disabled),
select[data-slot="native-select"]:not(:disabled) {
	cursor: pointer !important;
}

/* For number input spin buttons */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	cursor: pointer;
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
	html {
		@apply font-sans;
	}
}
